# CraftTweaker 1.12 reads these LanguageMap internals during game startup.
public net.minecraft.util.text.translation.LanguageMap instance
public net.minecraft.util.text.translation.LanguageMap languageList
public net.minecraft.creativetab.CreativeTabs tabLabel
public net.minecraft.item.crafting.Ingredient matchingStacks
public net.minecraft.nbt.NBTTagList tagList
public net.minecraft.nbt.NBTTagCompound tagMap
