# CraftTweaker 1.12 reads these LanguageMap internals during game startup.
public net.minecraft.util.text.translation.LanguageMap instance
public net.minecraft.util.text.translation.LanguageMap languageList
# Galacticraft 4.0.7 omits this field from its deobfuscated access transformer.
public net.minecraft.client.audio.MusicTicker timeUntilNextMusic
public net.minecraft.creativetab.CreativeTabs tabLabel
public net.minecraft.item.crafting.Ingredient matchingStacks
public net.minecraft.nbt.NBTTagList tagList
public net.minecraft.nbt.NBTTagCompound tagMap
